<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Display Ad</key>
	<array>
		<string>NS_IOS_MIX_BANNER_TEST</string>
		<string>NS_IOS_GFD_BANNER_TEST</string>
		<string>NS_IOS_NDP_BANNER_TEST</string>
		<string>NS_IOS_DFP_BANNER_TEST</string>
		<string>NS_IOS_FAN_BANNER_TEST</string>
		<string>NS_IOS_INMOBI_BANNER_TEST</string>
		<string>NS_IOS_UNITY_BANNER_TEST</string>
		<string>NS_IOS_MIX_NATIVE_TEST</string>
		<string>NS_IOS_NDP_NATIVE_TEST</string>
		<string>NS_IOS_DFP_NATIVE_TEST</string>
		<string>NS_IOS_FAN_NATIVE_TEST</string>
		<string>NS_IOS_INMOBI_NATIVE_TEST</string>
		<string>NS_IOS_MIX_NATIVEBANNER_TEST</string>
		<string>NS_IOS_FAN_NATIVEBANNER_TEST</string>
	</array>
	<key>Rewarded Ad</key>
	<array>
		<string>NS_IOS_DFP_REWARDED_TEST</string>
		<string>NS_IOS_FAN_REWARDED_TEST</string>
		<string>NS_IOS_UNITY_REWARED_TEST</string>
	</array>
	<key>Interstitial Ad</key>
	<array>
		<string>NS_IOS_DFP_INTERSTITIAL_TEST</string>
		<string>NS_IOS_FAN_INTERSTITIAL_TEST</string>
		<string>NS_IOS_UNITY_INTERSTITIAL_TEST</string>
	</array>
</dict>
</plist>
